 
 
 .form-group{
 }
 #inputValue{
     width: 760px ;
     padding: .375rem .25rem;
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     outline: none;
     color: rgb(0, 0, 0);
     background-color : rgb(255, 255, 255);
border: 1px  solid rgb(36, 4, 4);
border-radius: .25rem;
margin-bottom: 1rem;

}
 #search{
     color: aliceblue;
     background-color: rgb(51, 32, 3);
     outline: none;
     min-height: 38px;
     font-weight: 400;
     text-align: center;
     cursor: pointer;
     padding: .375rem .75rem;
     font-size: 1rem;
     line-height: 1.5;
     border-radius: .25rem;
      
 }

 #movies-searchable{
     margin-top: 20px;
 }

 section{
     display: flex;
     width: 100%;
     overflow-x: auto;
 }
 section  img{
     width: 300px;
     transition: 250px  all;
 }

 img:hover{
     margin-left: 0  40px;
     transform:  scale(1.2);
     cursor: pointer;
 }


 .content{
     border:  1px  solid red;
      display: none;

 }

 .content  div{
     display:  flex;
     justify-content: space-around;
     flex-wrap: wrap;
     align-items: center;
     margin: 10px;
 }

 .content-display{
     display: block;
 }